.react-time-picker {
    width: 100% !important;
    color: #000;
    font-size: 14px;
    min-height: 42px;

    .react-time-picker__wrapper {
        border: 1px solid #dfdfdf !important;
        border-radius: 4px !important;
    }
}
