// Form sm
.form-sm {
    .form-control {
        width: 100%;
        color: #000;
        font-size: 13px;
        min-height: 40px;
        border-radius: 25px;
        background: #fff;
        border: 1px solid #e9e8e8;
    }

    .form-control:focus {
        background: #fff;
        border: 1px solid #dfdfdf;
    }

    .error {
        border: 1px solid #ea5455 !important;
    }

    .btn {
        min-height: 40px;
        font-size: 15px;
        font-weight: 500;
        border-radius: 25px;
        color: #28c76f !important;
        background: #28c76f3b !important;

        &:hover {
            color: #fff;
        }
    }
}